<div data-ng-init="init()">
    <h1><span class="fa fa-sign-in"></span>Getting to know</h1>
    <br />
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top: 40px; padding-bottom: 40px; padding-right:80px">
        	<p>In order to tailor the best content for you. We would like to know a bit about you</p>
        	
            <a href="" ng-click="selectPurpose(1)">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="#" style="height: 200px; width: 100%; display: block;">
                        <div class="caption">
                            <p><a href="">I am currently looking for a job</a></p>
                        </div>
                    </div>
                </div>
            </a>
                
            <a href="" ng-click="selectPurpose(2)">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="#" style="height: 200px; width: 100%; display: block;">
                        <div class="caption">
                            <p><a href="">I am employed but open to better position</a></p>
                        </div>
                    </div>
                </div>
            </a>
                
            <a href="" ng-click="selectPurpose(3)">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="#" style="height: 200px; width: 100%; display: block;">
                        <div class="caption">
                            <p><a href="">I am employed and happy with current position.</a></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
	    <div class="panel-footer" style="padding-left:80px; padding-right:80px">
            <p>We are comitted to keep your data confidentially</p>
	        <p>To understand why we use this information and how we use it <a href="/signup">Click here</a></p>
		</div>
    </div>
</div>