<!-- Sign up wizzard. Prefer to signup_controller.js for navigation-->

<div >
	<h1><span class="fa fa-sign-in"></span>Getting to know</h1>
	<br />
	<div class="panel panel-default">
		<div class="panel-body" style="padding-top: 40px; padding-bottom: 40px; padding-right:80px">
			<p>In order to tailor the best content for you. We would like to know a bit about you</p>
			
			<div>
				
				<div class="clearfix visible-xs-block"></div>
				<div class="col-sm-3 pull-right">
					<button type="submit" class="btn btn-primary btn-block" ng-click="saveHonorsAwards()">Save</button>
				</div>
			</div>
			<div class="clearfix visible-xs-block"></div>
			
			
		</div>
		<div class="panel-footer" style="padding-left:80px; padding-right:80px">
			<p>I will add my profile picture later. <a href="/signup">Next</a></p>
		</div>
	</div>
</div>

