<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="MainCtrl" ng-init="init('{{ data.username}}')">
<head>
    {% include "../partials/head.html" %}
    <script type="text/javascript" src="/vendors/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/docs.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-file-upload/angular-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/vendors/angular.js"></script>
    <script type="text/javascript" src="/vendors/angular-file-upload/angular-file-upload.min.js"></script> 

    <script type="text/javascript" src="/vendors/angular-route.js"></script>
    <script type="text/javascript" src="/vendors/angular-resource.js"></script>
    <script type="text/javascript" src="/vendors/angular-animate.js"></script>
    <script type="text/javascript" src="/vendors/angular-sanitize.js"></script>
  
    <script type="text/javascript" src="/vendors/ui-bootstrap-tpls-0.12.0.js"></script>
    <!-- ACE code highlight -->
    <script type="text/javascript" src="/vendors/ace-noconflict/ace.js"></script>
    <script type="text/javascript" src="/vendors/ace-noconflict/ext-modelist.js"></script>
    <script type="text/javascript" src="/vendors/ui-ace.js"></script>
    

    <script type="text/javascript" src="/vendors/tinymce/tinymce.min.js"></script>

    <script type="text/javascript" src="/controllers/company_edit_ctrl.js"></script>

    <script type="text/ng-template" id="customTemplate.html">
        <a ng-if="match._id != -1">
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        </a>
    </script>
    
    <style type="text/css">

/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
#preview-pane .preview-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

</style>
</head>
<body data-twttr-rendered="true" style="background-color: #C0DEED;">
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
    {% include "../partials/header.html" %}
    <div class="container bs-docs-container" >
        <div class="row" style="margin-top:10px"></div>
            <div class="row">
                <!-- LEFT SIDEBAR -->
                <div class="col-md-3" style="padding-right:5px">
                    <div>
                        <div class="panel panel-default" style="margin-bottom:6px">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-tabs nav-stacked" id="edit-profile-tab">
                                    <li role="presentation" class="active"><a href="#edit-profile"><span style="display: block;">Profile</span></a></a></li>
                                    <li role="presentation"><a href="#edit-security"><span style="display: block;">Security</span></a></a></li>
                                    <li role="presentation"><a href="#edit-experience"><span style="display: block;">Experience</span></a></a></li>
                                    <li role="presentation"><a href="#edit-education"><span style="display: block;">Education</span></a></li>
                                    <li role="presentation"><a href="#edit-language"><span style="display: block;">Language</span></a></li>
                                    <li role="presentation"><a href="#edit-awards"><span style="display: block;">Awards</span></a></a></li>
                                    <li role="presentation"><a href="#edit-publication"><span style="display: block;">Publication</span></a></a></li>
                                </ul>
                            </div>
                            <div class="panel-footer" >
                                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF LEFT SIDEBAR -->

<!-- MAIN -->
<div class="col-md-7" style="padding-left:5px">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="myTabContent" class="tab-content">

<!-- EDIT PROFILE TAB -->
<div role="tabpanel" class="tab-pane fade in active" id="edit-profile" aria-labelledby="home-tab">
    <div>
        <div class="col-md-9" style="padding-left:0px">
            <h3 style="margin-top:5px;margin-bottom:0px">Edit Profile</h3>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-sm btn-block" ng-click="showUserEditModal()">Edit Information</a> 
        </div>
        <div class="clearfix visible-xs-block"></div> 
    </div>
    <hr />
    <div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Company Name:</td>
                        <td>[[ company.username ]]</td>
                    </tr>
                    <tr>
                        <td>Company Username:</td>
                        <td>[[ company.name ]]</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>[[ company.address.address1 ]]</td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td>[[ company.address.city.name ]]</td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td>[[ company.address.country.name ]]</td>
                    </tr>
                    <tr>
                        <td>Industry:</td>
                        <td>[[  ]]</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>[[ company.address.phone ]]</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td>[[ company.website ]]</td>
                    </tr>
                    <tr>
                        <td>Year Founded:</td>
                        <td>[[ company.yearFounded ]]</td>
                    </tr>
                    <tr>
                        <td>About:</td>
                        <td>[[ company.about ]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block"></div> 
    </div>
    <hr />
    <div>
        <h3>Summary</h3>
    </div>
</div>
<!-- END OF EDIT PROFILE TAB -->

<!-- EDIT BASIC INFORMATION TAB -->
<div class="modal fade" id="infoEditModal" tabindex="-1" role="dialog" aria-labelledby="infoEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form class="form-horizontal" role="form" ng-submit="saveCompanyEdit()">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right">
                    <div>
                        <button type="button" class="btn btn-default margin-right:10px" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary " ng-click="saveBasicInfo()">Save</button>
                    </div>
                </div>
                
                <h4 class="modal-title" id="infoEditModalLabel">Edit Basic Information</h4>
            </div>
        <div class="modal-body">
        <div class="alert alert-danger" ng-if="infoEdit.errorMessages.length">
            <ul>
                <li ng-repeat="error in infoEdit.errorMessages">
                </li>
            </ul>
        </div>
        
        <div class="form-group">
          <label for="edit-info-first-name" class="col-sm-3 control-label">Company Name:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="companyEdit.name" required class="form-control" id="edit-info-first-name">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-info-lastname" class="col-sm-3 control-label">Company Username:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="companyEdit.username" required placeholder="Ex: 6 Eu Tong Seng" class="form-control" id="edit-info-lastName">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-info-lastname" class="col-sm-3 control-label">Address 1:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="companyEdit.address1" class="form-control" id="edit-info-lastName">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-info-lastname" class="col-sm-3 control-label">Address 2:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="companyEdit.address2" class="form-control" id="edit-info-lastName">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-info-lastname" class="col-sm-3 control-label">City:</label>
          <div class="col-sm-9">
            
            <input type="text" ng-model="companyEdit.city" placeholder="" typeahead="tag as tag.name for tag in getTags($viewValue) | filter:{name:$viewValue}" typeahead-on-select='onTypeaheadSelect($item, $model, $label)' typeahead-template-url="customTemplate.html" autocomplete="off" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-info-lastname" class="col-sm-3 control-label">Country:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="companyEdit.country" class="form-control" id="edit-info-lastName">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-info-lastname" class="col-sm-3 control-label">Industry:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="companyEdit.industry" class="form-control" id="edit-info-lastName">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-info-lastname" class="col-sm-3 control-label">Phone:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="companyEdit.phone" class="form-control" id="edit-info-lastName">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-info-lastname" class="col-sm-3 control-label">Website:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="companyEdit.website" class="form-control" id="edit-info-lastName">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-info-lastname" class="col-sm-3 control-label">Year Founded:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="companyEdit.yearFounded" class="form-control" id="edit-info-lastName">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-info-lastname" class="col-sm-3 control-label">About:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="companyEdit.about" class="form-control" id="edit-info-lastName">
          </div>
        </div>
        

      </div>
    </div>
    </form>
  </div>
</div>
<!-- END OF BASIC INFORMATION TAB -->

<!-- SECURITY TAB -->
    <div role="tabpanel" class="tab-pane" id="edit-security" aria-labelledby="home-tab">
        <h3>Edit Profile</h3>
        <hr />
        <ul class="list-unstyled">
            <li>
                <div>
                    <div class="col-md-10" style="padding-left:0px; padding-right:0px;">
                        
                    </div>
                </div>
                <div class="clearfix visible-xs-block"></div> 
            </li>
        </ul>
    </div>
<!-- END SECURITY TAB -->

<!-- EXPERIENCE TAB -->
<div role="tabpanel" class="tab-pane" id="edit-experience" aria-labelledby="profile-tab">
    <div>
        <div class="col-md-9" style="padding-left:0px">
            <h3 style="margin-top:5px;margin-bottom:0px">Edit Experience</h3>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-sm btn-block" ng-click="showExpAddModal()">Add Experience</a> 
        </div>
        <div class="clearfix visible-xs-block"></div> 
    </div>

    <hr />
    <ul class="list-unstyled">
    
        <li ng-repeat="exp in data.target_user.experiences">
            <div>
                <div class="col-md-2" style="padding-left:0px; padding-right:0px">
                    <img src="/img/google.png" width="60px" height="60px">
                </div>
                <div class="col-md-10" style="padding-left:0px; padding-right:0px;">
                    <div>
                        <div class="col-md-10" style="padding-left:0px">
                            <h4 style="margin-top:5px;margin-bottom:0px"></h4>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-primary btn-sm btn-block" ng-click="showExpEditPanel(exp)">Edit</a> 
                        </div>
                    </div>
                    
                    <h7></h7>
                    <p style="color: #999;font-size: 12px;">
                    </p>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <hr />
        </li>
        
    </ul>
</div>


<!-- Edit Experience Modal -->
<div class="modal fade" id="expEditModal" tabindex="-1" role="dialog" aria-labelledby="expEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right">
                    <div ng-if="isNewExperience">
                        <button type="button" class="btn btn-default margin-right:10px" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " ng-click="addExp()">Add</button>
                    </div>
                    <div ng-if="!isNewExperience">
                        <button type="button" class="btn btn-default margin-right:10px" ng-click="deleteExp()">Delete</button>
                        <button type="button" class="btn btn-default margin-right:10px" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " ng-click="saveExp()">Save</button>
                    </div>
                </div>
                
                <h4 class="modal-title" id="expEditModalLabel"></h4>
            </div>
      <div class="modal-body">
        <div class="alert alert-danger" ng-if="expEdit.errorMessages.length">
            <ul>
                <li ng-repeat="error in expEdit.errorMessages">
                </li>
            </ul>
        </div>
        <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="edit-exp-company-name" class="col-sm-3 control-label">Company Name:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="expEdit.companyName" class="form-control" id="edit-exp-company-name">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-exp-title" class="col-sm-3 control-label">Title:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="expEdit.title" class="form-control" id="edit-exp-title">
          </div>
        </div>
        <div class="form-group">
            <label for="edit-exp-location" class="col-sm-3 control-label">Location:</label>
            <div class="col-sm-9">
                <input type="lastName" ng-model="expEdit.location" class="form-control" id="edit-exp-location">
            </div>
        </div>
        <div class="form-group" style="margin-bottom:0px">
          <label for="inputPassword3" class="col-sm-3 control-label">Time Period:</label>
            <div class="col-sm-9">
                <span>
                    <select ng-model="expDateStarted.month" ng-options="month.name for month in data.months">
                    </select> &nbsp;
                    <select ng-model="expDateStarted.year" ng-options="year.name for year in data.years">
                    </select>
                    
                </span>&#8212;
                <span ng-if="expEdit.isStillHere">Present</span>
                <span ng-if="!expEdit.isStillHere">
                    <select ng-model="expDateEnded.month" ng-options="month.name for month in data.months">
                    </select> &nbsp;
                    <select ng-model="expDateEnded.year" ng-options="year.name for year in data.years">
                    </select>
                </span>
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input ng-model="expEdit.isStillHere" type="checkbox"> I currently work here
                </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="edit-exp-description" class="col-sm-3 control-label">Description:</label>
            <div class="col-sm-9">
                <textarea id='exp-editor' class='mceEditor' ng-model="expEdit.description" style='height: 200px'></textarea>
            </div>
        </div>
</form>
      </div>
    </div>
  </div>
</div>
<!-- END OF EXPERIENCE TAB -->

<!-- EDUCATION TAB -->
<div role="tabpanel" class="tab-pane fade" id="edit-education" aria-labelledby="dropdown1-tab">
    <div>
        <div class="col-md-9" style="padding-left:0px">
            <h3 style="margin-top:5px;margin-bottom:0px">Edit Education</h3>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-sm btn-block" ng-click="showEduAddModal()">Add Education</a> 
        </div>
        <div class="clearfix visible-xs-block"></div> 
    </div>
    
    <hr />    
    <ul class="list-unstyled">
        <li ng-repeat="exp in data.target_user.educations">
            <div>
                <div class="col-md-2" style="padding-left:0px; padding-right:0px">
                    <img src="/img/harvard.png" width="60px" height="60px">
                </div>
                <div class="col-md-10" style="padding-left:0px; padding-right:0px;">
                    <div>
                        <div class="col-md-10" style="padding-left:0px">
                            <h4 style="margin-top:5px;margin-bottom:0px"></h4>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-primary btn-sm btn-block" ng-click="showEduEditPanel(exp)">Edit</a> 
                        </div>
                    </div>
                        <h7></h7>
                        <p style="color: #999;font-size: 12px;"></p>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div> 
            <p></p>
                <hr />
        </li>
    </ul>       
</div>

<!-- EDIT EDUCATION MODAL -->
<div class="modal fade" id="eduEditModal" tabindex="-1" role="dialog" aria-labelledby="eduEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right">
                    <div ng-if="isNewEducation">                        
                        <button type="button" class="btn btn-default margin-right:10px" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " ng-click="addEdu()">Add</button>
                    </div>
                    <div ng-if="!isNewEducation">
                        <button type="button" class="btn btn-default margin-right:10px" ng-click="deleteEducation()">Delete</button>
                        <button type="button" class="btn btn-default margin-right:10px" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " ng-click="addEdu()">Save</button>
                    </div>
                </div>
                
                <h4 class="modal-title" id="eduEditModalLabel"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="edit-edu-school-name" class="col-sm-3 control-label">School Name:</label>
                      <div class="col-sm-9">
                        <input type="text" ng-model="eduEdit.schoolName" class="form-control" id="edit-edu-school-name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="edit-exp-degree" class="col-sm-3 control-label">Degree:</label>
                      <div class="col-sm-9">
                        <input type="text" ng-model="eduEdit.degree" class="form-control" id="edit-exp-degree">
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-exp-field" class="col-sm-3 control-label">Study Field:</label>
                        <div class="col-sm-9">
                            <input type="lastName" ng-model="eduEdit.studyField" class="form-control" id="edit-exp-field">
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-3 control-label">Time Period:</label>
                        <div class="col-sm-9">
                            <span>
                                
                                <select ng-model="eduDateStarted" ng-options=" year.name for year in data.years">
                                    <option value="">Select year</option>
                                </select>
                                
                            </span>&#8212;
                            
                            <span >
                                <select ng-model="eduDateEnded" ng-options="year.name for year in data.eduYears">
                                    <option value="">Select year</option>
                                </select>
                            </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-3 control-label">Education Level:</label>
                        <div class="col-sm-9">
                            <span>                    
                                <select ng-model="educationLevel" ng-options=" eduLevel.name for eduLevel in data.educationLevels">
                                </select>                    
                            </span>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-exp-description" class="col-sm-3 control-label">Description:</label>
                        <div class="col-sm-9">
                            <textarea class='mceEditorEdu' ng-model="eduEdit.description" style='height: 200px'></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END OF EDIT EDUCATION TAB -->

<!-- LANGUAGE -->
<div role="tabpanel" class="tab-pane fade" id="edit-language" aria-labelledby="dropdown1-tab">
    <div>
        <div class="col-md-9" style="padding-left:0px">
            <h3 style="margin-top:5px;margin-bottom:0px">Edit Language</h3>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-sm btn-block" ng-click="showLanguageAddModal()">Add Language</a> 
        </div>
        <div class="clearfix visible-xs-block"></div> 
    </div>
    
    <hr />    
    <ul class="list-unstyled">
        <li ng-repeat="exp in data.target_user.languages">
            <div>
                
                <div class="col-md-10" style="padding-left:0px; padding-right:0px;">
                    <div>
                        <div class="col-md-10" style="padding-left:0px">
                            <h4 style="margin-top:5px;margin-bottom:0px">[[ exp.language ]]</h4>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-primary btn-sm btn-block" ng-click="showLanguageEditPanel(exp)">Edit</a> 
                        </div>
                    </div>
                        <h7>[[ exp.proficiency ]]</h7>
                        <p style="color: #999;font-size: 12px;">[[ ]] &#8212; [[ ]]</p>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div> 
            
                <hr />
        </li>
    </ul>       
</div>

<!-- EDIT LANGUAGE MODAL -->
<div class="modal fade" id="languageEditModal" tabindex="-1" role="dialog" aria-labelledby="languageEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right">
                    <button type="button" class="btn btn-default margin-right:10px" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " ng-click="addLanguage()">Save</button>
                </div>
                
                <h4 class="modal-title" id="languageEditModalLabel">[[languageModalTitle]]</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="edit-edu-school-name" class="col-sm-3 control-label">Language:</label>
                      <div class="col-sm-9">
                        <input type="text" ng-model="languageEdit.language" class="form-control" id="edit-language">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputProficiency" class="col-sm-3 control-label">Proficiency:</label>
                        <div class="col-sm-9">
                            <span>
                                <select ng-model="languageEdit.proficiency" ng-options=" language.name for language in data.languages">
                                </select>
                            </span>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END OF EDIT LANGUAGE TAB -->

      <div role="tabpanel" class="tab-pane" id="edit-awards" aria-labelledby="dropdown2-tab">
        <h3>Edit Awards</h3>
        <hr />
        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="edit-publication" aria-labelledby="dropdown2-tab">
        <h3>Edit Publication</h3>
        <hr />
        <p>Internet executive with over 19 years of experience, including general management of mid to large size organizations, corporate development, product development, business operations, and strategy..</p>
      </div>
    </div>
                        </div>
                    </div>
                </div>
                <!-- END OF MAIN -->
            </div>
        
        
    </div>
{% include "../partials/footer.html" %}
<script type="text/javascript" src="/user_page.js"></script>
</body></html>