<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="MainCtrl" ng-init="init('{{data.page.username}}')">
<head>
    {% include "../partials/head.html" %}
    <script type="text/javascript" src="/vendors/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/docs.min.js"></script>

    <script type="text/javascript" src="/vendors/jcrop/jquery.Jcrop.js"></script>
    <link rel="stylesheet" href="/vendors/jcrop/jquery.Jcrop.css">

    
    <script type="text/javascript" src="/vendors/angular-file-upload/angular-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/vendors/angular.js"></script>
    <script type="text/javascript" src="/vendors/angular-file-upload/angular-file-upload.min.js"></script> 

    <script type="text/javascript" src="/vendors/angular-route.js"></script>
    <script type="text/javascript" src="/vendors/angular-resource.js"></script>
    <script type="text/javascript" src="/vendors/angular-animate.js"></script>
    <script type="text/javascript" src="/vendors/angular-sanitize.js"></script>

    <script type="text/javascript" src="/vendors/ui-bootstrap-tpls-0.12.0.js"></script>
    <!-- ACE code highlight -->
    <script type="text/javascript" src="/vendors/ace-noconflict/ace.js"></script>
    <script type="text/javascript" src="/vendors/ace-noconflict/ext-modelist.js"></script>
    <script type="text/javascript" src="/vendors/ui-ace.js"></script>

    <script type="text/javascript" src="/vendors/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/controllers/company-ctrl.js"></script>
    <style type="text/css">

/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
#preview-pane .preview-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

</style>
</head>
<body data-twttr-rendered="true" >
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
    {% include "../partials/header.html" %}
<div class="row" id="company-profile" style="margin-left:0px">
    <div id="company-cover">
        <img src="[[company.cover.url]]" width="1280" height="400">
    </div>
    <div id="company-info" class="container bs-docs-containter">
        <div id="company-logo" class="col-md-3" style="width:20%">
            <img src="[[company.logo.url]]" width="200" height="200" style="position:relative;margin-top:-80px">
        </div>
        <div id="company-basics" class="col-md-7">
            <h2>[[company.name]]</h2>
            <div>
                <ul class="list-inline">
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    {% if data.isManaging %}
    <div id="company-action" class="container bs-docs-containter" style="margin-top:15px">
        <ul class="list-inline">
            <li><a href="/company/[[company.username]]/edit" class="btn btn-primary btn-sm">Edit Information</a></li>
            <li><a href="/edit_profile" class="btn btn-primary btn-sm">Post Article</a></li>
            <li><a href="/company/[[company.username]]/jobs/new" class="btn btn-primary btn-sm">Post Job</a></li>
            <li><a href="/edit_profile" class="btn btn-primary btn-sm">Add Album</a></li>
            <li><a href="#" class="btn btn-primary btn-sm" ng-click="showProfilePicModal()">Change Logo</a></li>
            <li><a href="#" class="btn btn-primary btn-sm" ng-click="showCoverPicModal()">Change Cover</a></li>
        </ul>
    </div>
    {% endif %}
</div>
<div class="clearfix"></div>
    <div class="container bs-docs-container" >
        <div class="row" style="margin-top:10px"></div>

    <div ng-if="company">
        <h1>asdfasdfasjdfjasdfj</h1>
        <h1>[[company.name]]</h1>
        {% if data.isManaging %}
            <h1>Managing</h1>
        {% endif %}
    </div>
</div>

<!-- PROFILE PICTURE DIALOG MODAL -->
<div class="modal fade" id="profilePicModal" tabindex="-1" role="dialog" aria-labelledby="profilePicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right">
                    <div>
                        <button type="button" class="btn btn-default margin-right:10px" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " ng-click="cropProfilePicture()">Save</button>
                    </div>
                </div>
                
                <h4 class="modal-title" id="expEditModalLabel">Edit Profile Picture</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-7">
                    <input type="file" ng-file-select="onFileSelect($files)" >
                    <img-cropped src="[[ imgUrl ]]" changed='changed(cords)' selected='selected(cords)'></img-cropped>
                </div>
                <div class="col-md-5">
                    <div id="preview-pane">
                        <div class="preview-container">
                            <img src="[[ imgUrl ]]" class="jcrop-preview" alt="Preview" />
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-xs-block"></div>
            </div>
        </div>
    </div>
</div>
<!-- END OF PROFILE PICTURE DIALOG MODAL -->

<!-- COVER PICTURE DIALOG MODAL -->
<div class="modal fade" id="coverPicModal" tabindex="-1" role="dialog" aria-labelledby="coverPicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right">
                    <div>
                        <button type="button" class="btn btn-default margin-right:10px" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " ng-click="cropCoverPicture()">Save</button>
                    </div>
                </div>
                
                <h4 class="modal-title" id="coverPicModalLabel">Edit Profile Picture</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-7">
                    <input type="file" ng-file-select="onFileSelect($files)" >
                    <img-cropped src="[[ imgUrl ]]" changed='changed(cords)' selected='selected(cords)'></img-cropped>
                </div>
                <div class="col-md-5">
                    <div id="preview-pane">
                        <div class="preview-container">
                            <img src="[[ imgUrl ]]" class="jcrop-preview" alt="Preview" />
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-xs-block"></div>
            </div>
        </div>
    </div>
</div>
<!-- END OF COVER PICTURE DIALOG MODAL -->


{% include "../partials/footer.html" %}
{% include "../partials/tail.html" %}

<script src="user_page.js"></script>
</body></html>