<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="MainCtrl">
<head>
    {% include "../partials/head.html" %}
    <script type="text/javascript" src="/vendors/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/docs.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-file-upload/angular-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/vendors/angular.js"></script>
    <script type="text/javascript" src="/vendors/angular-file-upload/angular-file-upload.min.js"></script> 

    <script type="text/javascript" src="/vendors/angular-route.js"></script>
    <script type="text/javascript" src="/vendors/angular-resource.js"></script>
    <script type="text/javascript" src="/vendors/angular-animate.js"></script>
    <script type="text/javascript" src="/vendors/angular-sanitize.js"></script>

    <!-- AngularJS Google Maps -->
    <script type="text/javascript" src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script type="text/javascript" src="/vendors/underscore.js"></script>
    <script type="text/javascript" src="/vendors/angular-google-maps.js"></script>
  
    <script type="text/javascript" src="/vendors/ui-bootstrap-tpls-0.12.0.js"></script>
    <!-- ACE code highlight -->
    <script type="text/javascript" src="/vendors/ace-noconflict/ace.js"></script>
    <script type="text/javascript" src="/vendors/ace-noconflict/ext-modelist.js"></script>
    <script type="text/javascript" src="/vendors/ui-ace.js"></script>

    <script type="text/javascript" src="/vendors/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/controllers/new-page-controller.js"></script>
    <script type="text/javascript" src="/controllers/new-biz-ctrl.js"></script>
    <link href="/app.css" rel="stylesheet">

    <script type="text/ng-template" id="customTemplate.html">
        <a ng-if="match._id != -1">
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        </a>
    </script>
  <style type="text/css">
  .tag-label {
    background-color: #5bc0de;
    padding: .2em .6em .3em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
</style>
</head>
<body data-twttr-rendered="true">
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
    {% include "../partials/header.html" %}
    <div class="container bs-docs-container" >
        <div class="row" style="margin-top:10px"></div>
        
            <div class="row">

<!-- MAIN -->
<div class="col-md-12" ng-if="!pageType">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top: 40px; padding-bottom: 40px; padding-right:80px">
            <p>In order to tailor the best content for you. We would like to know a bit about you</p>
            
            <a href="#company">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="#" style="height: 100px; width: 100%; display: block;">
                        <div class="caption">
                            <a href="#company">Company</a>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#school">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="#" style="height: 100px; width: 100%; display: block;">
                        <div class="caption">
                            <p><a href="#school">School</a></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="panel-footer" style="padding-left:80px; padding-right:80px">
            <p>We are comitted to keep your data confidentially</p>
            <p>To understand why we use this information and how we use it <a href="/signup">Click here</a></p>
        </div>
    </div>
</div>
    <div ng-view></div>
</div>
<!-- END OF MAIN -->

            </div>
    </div>
{% include "../partials/footer.html" %}
{% include "../partials/tail.html" %}
</body></html>