<!doctype html>
<html lang="en">
<head>
    {% include "../partials/head.html" %}

</head>
    <body data-twttr-rendered="true">
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
    {% include "../partials/header.html" %}
    <div class="container bs-docs-container">
        <div class="col-sm-9 col-sm-offset-2">

            <h1><span class="fa fa-sign-in"></span>Reset your password</h1>
            
            <br />
            

            <div class="panel panel-default">
            <div class="panel-body" style="padding-top: 40px; padding-bottom: 40px; padding-left:80px; padding-right:80px">
                <!-- LOGIN FORM -->
                <form action="/login" method="post">
                    <div class="form-group">
                        <p>Strong passwords include numbers, letters, and punctuation marks.</p>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label">Type your new password</label>
                        <input type="text" class="form-control" name="password" id="inputPassword">
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmPassword" class="control-label">Type your new password one more time</label>
                        <input type="text" class="form-control" name="confirm_password" id="inputConfirmPassword">
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Change</button>
            </form>

              </div>
              <div class="panel-footer" style="padding-left:80px; padding-right:80px">
                <p>New to Project X? <a href="/signup">Sign up now</a></p>
              </div>
            </div>

            

        </div>
    </div>

{% include "../partials/footer.html" %}
{% include "../partials/tail.html" %}

</body></html>