<!doctype html>
<html lang="en">
<head>
    {% include "../partials/head.html" %}

</head>
    <body data-twttr-rendered="true">
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
    {% include "../partials/header.html" %}
    <div class="container bs-docs-container">
        <div class="col-sm-9 col-sm-offset-2">

            <h1><span class="fa fa-sign-in"></span>Reset your password</h1>
            <br />
            

            <div class="panel panel-default">
                <div class="panel-body" style="padding-top: 40px; padding-bottom: 40px; padding-left:80px; padding-right:80px">

                    {% if data.reset_email_sent %}
                        <h3>Check your email</h3>
                        <p>We've sent an email to your inbox. Click the link in the email to reset your password.</p>
                        <p>If you don't see the email, check other places it might be, like your junk, spam, social, or other folders.</p>
                    {% else %}
                        {% if data.reset_error_message %}
                            <div class="alert alert-danger">{{ data.reset_error_message }}</div>
                        {% endif %}
                        <!-- LOGIN FORM -->
                        <form action="/request_password_reset" method="post">
                            <div class="form-group">
                                <p>Enter your email to reset password.</p>                 
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" placeholder="Email">                    
                            </div>
                            <button type="submit" class="btn btn-warning btn-lg">Continue</button>
                        </form>
                    {% endif %}
                </div>
                <div class="panel-footer" style="padding-left:80px; padding-right:80px">
                    {% if data.reset_email_sent %}
                        <p><a href="/request_password_reset?did_not_receive=true">I didn't receive the email.</a></p>
                    {% else %}
                    {% endif %}                    
                </div>
            </div>
        </div>
    </div>

{% include "../partials/footer.html" %}
{% include "../partials/tail.html" %}

</body></html>